black==25.9.0
click==8.3.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
prompt-toolkit==1.0.14
Pygments==2.19.2
PyInquirer==1.0.3
pytokens==0.2.0
regex==2025.10.23
six==1.17.0
wcwidth==0.2.14
